{% extends "dashboard/base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

<div class="row">
  <input class="form-control" id="myInput" type="text" placeholder="Search..">
  <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                          <th>#</th>
                                          <th>Name</th>
                                          <th>Status</th>
                                          <th>Ends in</th>
                                          <th>Actions</th>

                                        </tr>
                                    </thead>
                                    <tbody id="myTable">
                                      {% for l in lucks reversed %}
                                      <tr>
                                        <td>{{l.id}}</td>
                                        <td>{{l.name}}</td>
                                        <td>{{l.status}}</td>
                                        <td>{{l.duration}}</td>
                                        <td><a href="/lucks/view/{{l.id}}" class="button btn btn-info">View</a></td>


                                      </tr>
                                      {% endfor %}

                                    </tbody>
                                </table>
    </div>
</div>


{% endblock %}
