{% extends "dashboard/base.html" %}
{% block title %}MyLucks{% endblock %}
{% block content %}

<div class="row">
  <a href="/lucks/addnew" class="button btn btn-success">Add</a>
  <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                          <th>#</th>
                                          <th>Name</th>
                                          <th>Status</th>
                                          <th>Actions</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                      {% for l in lucks reversed %}
                                      <tr>
                                        <td>{{l.id}}</td>
                                        <td>{{l.name}}</td>
                                        <td>{{l.status}}</td>
                                        <td><a href="/lucks/view/{{l.id}}" class="button btn btn-info">View</a></td>

                                      </tr>
                                      {% endfor %}

                                    </tbody>
                                </table>
    </div>
</div>


{% endblock %}
