{% extends "dashboard/base.html" %}
{% block title %}MyLucks{% endblock %}
{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h2>
					{{luck.name}}
				</h2>
				<p>
					{{luck.content}}
				</p>
				<p>
					<button type="button"   class="btn btn-primary btn-large" data-toggle="modal" data-target="#myModal">options</button>
				</p>
                    <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
              <div class="modal-dialog">
                <div class="row">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Suggested Options</h4>
                  </div>
                  <div class="modal-body">

                    <div class="col-md-12">
                      <div class="col-md-6">
          							<div class="list-group">
          								 <a href="#" class="list-group-item list-group-item-action active">Heads</a>
          								<div class="list-group-item">
          									{{luck.head}}
          								</div>


          							</div>
          						</div>
                      <div class="col-md-6">
          							<div class="list-group">
          								 <a href="#" class="list-group-item list-group-item-action active">Tails</a>
          								<div class="list-group-item">
          									{{luck.tails}}
          								</div>


          							</div>
          						</div>

                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>

              </div>
            </div>
          </div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-4">
							<div class="list-group">
								 <a href="#" class="list-group-item list-group-item-action active">Likes</a>
								<div class="list-group-item">
									List header
								</div>
								<div class="list-group-item">
									<h4 class="list-group-item-heading">
										List group item heading
									</h4>
									<p class="list-group-item-text">
										...
									</p>
								</div>

							</div>
						</div>
						<div class="col-md-4">
							<div class="list-group">
								 <a href="#" class="list-group-item list-group-item-action active">Home</a>
								<div class="list-group-item">
									List header
								</div>
								<div class="list-group-item">
									<h4 class="list-group-item-heading">
										List group item heading
									</h4>
									<p class="list-group-item-text">
										...
									</p>
								</div>
								<div class="list-group-item justify-content-between">
									Help <span class="badge badge-secondary badge-pill">14</span>
								</div> <a href="#" class="list-group-item list-group-item-action active justify-content-between">Home <span class="badge badge-light badge-pill">14</span></a>
							</div>
						</div>
						<div class="col-md-4">
							<div class="list-group">
								 <a href="#" class="list-group-item list-group-item-action active">Home</a>
								<div class="list-group-item">
									List header
								</div>
								<div class="list-group-item">
									<h4 class="list-group-item-heading">
										List group item heading
									</h4>
									<p class="list-group-item-text">
										...
									</p>
								</div>
								<div class="list-group-item justify-content-between">
									Help <span class="badge badge-secondary badge-pill">14</span>
								</div> <a href="#" class="list-group-item list-group-item-action active justify-content-between">Home <span class="badge badge-light badge-pill">14</span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>


{% endblock %}
